USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_CumplimientoFiliP]    Script Date: 16-04-2026 15:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---MIBARRA
---17-03-2026

--exec [dbo].[Etl_CumplimientoFiliP]


ALTER PROCEDURE [dbo].[Etl_CumplimientoFiliP]
AS BEGIN

declare @fechaDesde date = (select format(getdate(),'yyyy-MM-')+'01')
declare @fechaHasta date = (select format(getdate()-1,'yyyy-MM-dd'))
declare @fechaFin date = (select format(eomonth(getdate()-1),'yyyy-MM-dd'))


--select @fechaDesde,@fechaHasta

----
/*ELIMINA TABLA */
----


--drop table #temporal2,#temporal3,#temporal4


drop table if exists dbo.CumplimientoAfiliación;

----
/*GENERA PRIMERA TEMPORAL AFILIADOS A LA FECHA*/
----

SELECT 
    a.fecha, 
    SUM(afiliacion) AS realAfiliacion, 
    SUM(b.ppto) AS ppto
	into #temporal2
FROM (
    SELECT 
        CASE 
            WHEN ISDATE(LEFT(FECHA_PREAFILIACION, 8)) = 1 
            THEN CAST(LEFT(FECHA_PREAFILIACION, 8) AS DATE) 
            ELSE NULL 
        END AS fecha,
        COUNT(DISTINCT rut) AS afiliacion
    FROM dbo.detalle_afiliacion_P a
    --WHERE mes_proceso = '2026-03-01' 
	WHERE mes_proceso = @fechaDesde
    GROUP BY 
        CASE 
            WHEN ISDATE(LEFT(FECHA_PREAFILIACION, 8)) = 1 
            THEN CAST(LEFT(FECHA_PREAFILIACION, 8) AS DATE) 
            ELSE NULL 
        END
) a
LEFT JOIN (
    SELECT 
        fecha, 
        SUM(ppto) AS ppto 
    FROM [dbo].[02 metas afiliacion bruta Pensionado_carga] 
	GROUP BY periodo, fecha
) b ON a.fecha = b.fecha
GROUP BY 
    a.fecha


----
/*GENERA SEGUNDA TEMPORAL CRUCE PPTO MENSUAL*/
----

--drop table #temporal3

select format(a.fecha,'yyyy-MM-dd') as fecha,a.ppto,isnull(tm2.realAfiliacion,'') as realAfiliacion
into #temporal3
from [dbo].[02 metas afiliacion bruta Pensionado_carga] a
left join #temporal2 tm2 on a.fecha = tm2.fecha
--where format(a.fecha,'yyyy-MM-dd') between '2026-03-01' and '2026-03-31'
 where format(a.fecha,'yyyy-MM-dd') between @fechaDesde and  @fechaFin


--select * from #temporal3

----
/*GENERA TERCERA TEMPORAL CALCULOS*/
----

select 'Afiliacion Bruta' as indicador, 'P' as Segmento,
(select round((sum(realAfiliacion) * 100) / (sum(ppto)),1) 
from #temporal3) as CumplimientoMensual,
(select round((sum(realAfiliacion) * 100) / (sum(ppto)),1) 
from #temporal3
--where fecha between '2026-03-01' and '2026-03-18') as CumplimientoDiario
where fecha between @fechaDesde and  @fechaHasta) as CumplimientoDiario

into #temporal4


---

SELECT *
into dbo.CumplimientoAfiliación
fROM #temporal4

--SELECT * FROM dbo.CumplimientoAfiliación
END


