USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_CumplimientoPREPAGO]    Script Date: 16-04-2026 15:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---MIBARRA
---27-11-2025 

--exec [dbo].[[Etl_CumplimientoPREPAGO]]


ALTER PROCEDURE [dbo].[Etl_CumplimientoPREPAGO]
AS 
BEGIN

declare @fechaDesde date = (select format(getdate(),'yyyy-MM-')+'01')
declare @fechaHasta date = (select format(getdate(),'yyyy-MM-dd'))




----
/*ELIMINA TABLA */
----


--drop table #temporal2,#temporal3


drop table dbo.CumplimientoPREPAGO

----
/*GENERA PRIMERA TEMPORAL*/
----

select Tipo_Producto,sum(total) as VentaMensual
INTO #TEMPORAL2
from [dbo].[SETH_ResCuentaTarjeta] 
where converT(varchar,fecha,112) between convert(varchar,@fechaDesde,112) and convert(varchar,@fechaHasta,112)
group by Tipo_Producto


---
/*AGREGAR COLUMNA MENSUAL*/
---
alter table #temporal2 add  PptoMensual float
alter table #temporal2 add  PptoDiario float
alter table #temporal2 add  CumplimientoMensual float
alter table #temporal2 add  CumplimientoDiario float
----
/*GENERA SEGUNDA TEMPORAL*/
----

select producto,sum(fc)  as PptoMensual
INTO #TEMPORAL3
from [SQL].[FC_Fisicas]
where cast(DATEADD(mm,DATEDIFF(mm,0,(fecha)),0) as date) between @fechaDesde and @fechaHasta
group by producto
union all
select producto,sum(fc) as PptoMensual
from SQL.fc_virtuales
where cast(DATEADD(mm,DATEDIFF(mm,0,(fecha)),0) as date) between @fechaDesde and @fechaHasta
group by producto



----
/*ACTUALIZA FECHA VENTA NETA TEMPORAL2 PRINCIPAL*/
----

--select *,
update t2 set
PptoMensual = t3.PptoMensual
,CumplimientoMensual = round(((100*t2.VentaMensual)/t3.PptoMensual),2)
from #temporal2 t2 
inner join #temporal3 t3 on t2.Tipo_Producto = t3.Producto

----
/*CUMPLIMIENTO MENSUAL TOTAL*/
----

--select round((sum(VentaMensual)*100) / sum(PptoMensual),2) as CumplimientoMensual
--from #temporal2 t2 



----
/*ACTUALIZA PPTO ACUMULADO DIARIO*/
----

 
--VIRTUAL
	update tm set  
	pptodiario = (
				select round(sum(fc),2) as AcumuladoPPtoVirtual
				from SQL.fc_virtuales
				where convert(varchar,fecha,112) between convert(varchar,@fechaDesde,112) and convert(varchar,@fechaHasta,112)-1 
				)
	from #temporal2 tm where tm.tipo_producto = 'Venta Prepago Virtuales'


	--FISICA
	update tm set  
	pptodiario = (
				select round(sum(fc),2) as AcumuladoPPtoFisica
				from SQL.FC_Fisicas
				where convert(varchar,fecha,112) between convert(varchar,@fechaDesde,112) and convert(varchar,@fechaHasta,112)-1 
				)
	from #temporal2 tm where tm.tipo_producto = 'Venta Prepago Fisica'
--	order by fecha

--hasta aki ok

----
/*ACTUALIZA CUMPLIMIENTO DIARIO*/
----

--select *,
update t2 set
CumplimientoDiario =  round(((100*t2.VentaMensual)/t2.PptoDiario),2)
from #temporal2 t2 



--select round((sum(VentaMensual)*100) / sum(PptoDiario),2) as CumplimientoDiario
--from #temporal2 t2 


----
/*GENERA TABLA CUMPLIMIENTO PREPAGO*/
----

SELECT *
into dbo.CumplimientoPREPAGO
fROM #temporal2



END
