USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_PreCarga_Informe_Producción]    Script Date: 16-04-2026 15:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- MIBARRAO 27-10-2025 
-- última modificación 27-11-2025 

ALTER PROCEDURE [dbo].[Etl_PreCarga_Informe_Producción]
AS
BEGIN

--declare @fechaActual date = getdate()
--declare @fechaActual date = '2025-10-27 12:56:08.130'

-------------------------------------
/*Eliminar filas que no traen información*/
-------------------------------------

DELETE FROM [Etl_Carga_Informe_Producción]
WHERE ID IN (
    SELECT TOP (9) ID
    FROM [Etl_Carga_Informe_Producción]
    ORDER BY id ASC 
			)


-------------------------------------
/*Elimina registros que no tienen venta a cargar*/
-------------------------------------


--select *
DELETE 
--into #temporal
FROM [Etl_Carga_Informe_Producción]  
 where isnull(Fecha_inicio_vigencia,'') = ''
 and isnull(fecha_creación,'') = ''
 

 update c set
 fecha_carga = convert(date,DATEFROMPARTS(YEAR(Fecha_Carga), MONTH(Fecha_Carga), 1))
 --Fecha_Carga = '2026-02-01'
 from [Etl_Carga_Informe_Producción] c


 
-------------------------------------
/*Reemplaza caracteres*/
-------------------------------------


 --select UPPER(ASEGURADO),*,
 update c set
 Prima_Afecta = replace(Prima_Afecta,',','.')  
,Prima_Exenta = replace(Prima_Exenta,',','.') 
,Impuesto	  = replace(Impuesto,',','.')  
,Prima_Bruta  = replace(Prima_Bruta ,',','.') 
 from [Etl_Carga_Informe_Producción] c

--------------------------------------------------------------------------
/*Elimina campos entre parentesis para minimizar caracteres*/
--------------------------------------------------------------------------



declare @contador int = (select count (*)  from [Etl_Carga_Informe_Producción] c 
		where len(Direccion_Asegurado)>=50 and Direccion_Asegurado LIKE '%(%)%' )

		while @contador > 0
		begin


		declare @LimpiezaDireccion table (direccion varchar (250), propuesta bigint)


		insert 	into @LimpiezaDireccion (direccion, propuesta)
		SELECT  ''''+Direccion_Asegurado + '''' AS direccion, Nro_Propuesta as propuesta
				from [Etl_Carga_Informe_Producción] c 
				where len(Direccion_Asegurado)>=50 and Direccion_Asegurado LIKE '%(%)%'

			declare @direccion varchar (250) 
		    set @direccion = (select [ESTUDIOSCOMERCIALES].[dbo].[elimina_contenido_entre_parentesis] (@direccion))


				--select direccion, Direccion_Asegurado,
				 update top (1) c set
				 Direccion_Asegurado= @direccion
				 from [Etl_Carga_Informe_Producción] c
				 right join @LimpiezaDireccion ld on c.Nro_Propuesta = ld.propuesta
				 where len(Direccion_Asegurado)>=50 and Direccion_Asegurado LIKE '%(%)%'
				-- and convert(varchar,fecha_carga,112) = convert(varchar,@fechaActual,112)
		
				-- Elimina campo modificado de la tabla
				delete from @LimpiezaDireccion 

				-- Setea contador
				set @contador = (select count (*)  from [Etl_Carga_Informe_Producción] c 
				where len(Direccion_Asegurado)>=50 and Direccion_Asegurado LIKE '%(%)%' )
				
		end

--------------------------------------------------------------------------
/*Elimina campos entre parentesis para minimizar caracteres*/
--------------------------------------------------------------------------


 update c set
 Direccion_Asegurado= REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(replace(upper(Direccion_Asegurado),'INTERIOR','INT.'),'AEROPUERTO','ARPTO'),'PROFESOR','PROF'),'PASAJE','PJE'),'POBLACION','POB'),'SIN NÚMERO','S/N')
 from [Etl_Carga_Informe_Producción] c
 where  len(Direccion_Asegurado)>50
 


--------------------------------------------------------------------------
/*Inserta en tabla informes*/
--------------------------------------------------------------------------
---VALORES DE TABLA DESTINO ARCHIVOS CSV 
INSERT INTO  [dbo].[Etl_Informe_Producción] (Fecha_Carga,Anio_de_Cierre,Mes_de_Cierre,Estado_de_Cierre,Numero_Lote
,Fecha_Envio,Hora_Envio,Usuario_Envio
,Estado_de_Lote,Fecha_Recepcion,Hora_Recepcion,Usuario_Recepcion,Compania,Numero_Externo_Poliza,Numero_Poliza
,Numero_Certificado,Numero_Endoso,Contratante,Asegurado,Nombre_o_Razon_Social,Rut,Fecha_Nacimiento,Sexo,Telefono1
,Telefono2,Correo1,Correo2,Fecha_Inicio_Vig_Aseg,Fecha_Fin_Vigencia_Aseg,Contacto1,c1_Telefono,c1_Telefono2,c1_Correo
,c1_Correo2,Contacto_2,c2_Telefono,c2_Telefono2,c2_Correo,c2_Correo2,Intermediario,Sponsor,Producto,Plan_opcion,Ramo
,Canal_de_Venta,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta,Descuento_Asociado,Frecuencia_de_pago
,Fecha_primer_Vencimiento,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas,Dia_de_Pago,Tipo_tarjeta,Numero_Tarjeta
,Banco_Emisosr,Tipo_de_Cuenta,Numero_de_Cuenta,Banco,Estado_de_la_Poliza,Fecha_inicio_Vigencia,Fecha_fin_Vigencia
,Fecha_de_Fin_de_Contrato_Endoso_Cero,Motivo_Cancelacion,Fecha_Cancelacion,Hora_Cancelacion,Usuario_Cancelacion
,Numero_SII,Numero_masa,Numero_SIC,Nombre_SIC,Ramo_Masa,Fecha_Creación,Hora_Creación,Usuario_Creación,Fecha_Modificacion
,Hora_Modificación,Usuario_Modificación,Rut_Contratante,Contacto_1_Contrante,Contacto_2_Contrante,Telefono_1_Contrante
,Telefono_2_Contrante,Correo_1_Contrante,Correo_2_Contrante,Direccion_1_Contrante,Direccion_2_Contrante,Usuario_Inicia_Venta
,Vendedor_Rut,Usuario_Termina_Venta,Propuesta_Externa,Fecha_Propuesta_Externa,Identificacion_Dependiente,Nombre_Dependiente
,Apellido_Paterno_Dependiente,Apellido_Materno_Dependiente,Fecha_Nac_Dependiente,Edad_Dependiente,Sexo_Dependiente
,Relacion_Dependiente,Identificacion_Beneficiario,Nombre_Beneficiario,Apellido_Paterno_Beneficiario,Apellido_Materno_Beneficiario
,Participacion_Beneficiario,Relacion_Beneficiario,Direccion_Asegurado,Sucursal,Codigo_Sucursal,Nro_Propuesta)



 ---VALORES DE TABLA ORIGEN
 SELECT  Fecha_Carga,Anio_de_Cierre,Mes_de_Cierre,Estado_de_Cierre,Numero_Lote,Fecha_Envio,Hora_Envio, Usuario_Envio
,Estado_de_Lote,Fecha_Recepcion,Hora_Recepcion,Usuario_Recepcion,Compania,Numero_Externo_Poliza,Numero_Poliza
,Numero_Certificado,Numero_Endoso,Contratante,Asegurado,Nombre_o_Razon_Social,Rut,Fecha_Nacimiento,Sexo,Telefono1
,Telefono2,Correo1,Correo2,Fecha_Inicio_Vig_Aseg,Fecha_Fin_Vigencia_Aseg,Contacto1,c1_Telefono,c1_Telefono2,c1_Correo
,c1_Correo2,Contacto_2,c2_Telefono,c2_Telefono2,c2_Correo,c2_Correo2,Intermediario,Sponsor,Producto,Plan_opcion,Ramo
,Canal_de_Venta,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta,Descuento_Asociado,Frecuencia_de_pago
,Fecha_primer_Vencimiento,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas,Dia_de_Pago,Tipo_tarjeta,Numero_Tarjeta
,Banco_Emisosr,Tipo_de_Cuenta,Numero_de_Cuenta,Banco,Estado_de_la_Poliza,Fecha_inicio_Vigencia,Fecha_fin_Vigencia
,Fecha_de_Fin_de_Contrato_Endoso_Cero,Motivo_Cancelacion,Fecha_Cancelacion,Hora_Cancelacion,Usuario_Cancelacion
,Numero_SII,Numero_masa,Numero_SIC,Nombre_SIC,Ramo_Masa,Fecha_Creación,Hora_Creación,Usuario_Creación,Fecha_Modificacion
,Hora_Modificación,Usuario_Modificación,Rut_Contratante,Contacto_1_Contrante,Contacto_2_Contrante,Telefono_1_Contrante
,Telefono_2_Contrante,Correo_1_Contrante,Correo_2_Contrante,Direccion_1_Contrante,Direccion_2_Contrante,Usuario_Inicia_Venta
,Vendedor_Rut,Usuario_Termina_Venta,Propuesta_Externa,Fecha_Propuesta_Externa,Identificacion_Dependiente,Nombre_Dependiente
,Apellido_Paterno_Dependiente,Apellido_Materno_Dependiente,Fecha_Nac_Dependiente,Edad_Dependiente,Sexo_Dependiente
,Relacion_Dependiente,Identificacion_Beneficiario,Nombre_Beneficiario,Apellido_Paterno_Beneficiario,Apellido_Materno_Beneficiario
,Participacion_Beneficiario,Relacion_Beneficiario,Direccion_Asegurado,Sucursal,Codigo_Sucursal,Nro_Propuesta
 FROM [dbo].[Etl_Carga_Informe_Producción]


 --------------------------------------------------------------------------
 --------------------------------------------------------------------------
/*Inserción en Base seguros CONTRATADOS (FINAL BASE)*/
--------------------------------------------------------------------------
--------------------------------------------------------------------------


delete from SQL.Base_Seguros where fecha in (select distinct Fecha_Carga from [dbo].[Etl_Carga_Informe_Producción])


SET DATEFORMAT dmy

--select distinct Fecha_Inicio_Vig_Aseg from SQL.Base_Seguros
--where fecha in (select distinct Fecha_Carga from [dbo].[Etl_Carga_Informe_Producción])

/*

select CONVERT(DATETIME,Fecha_Inicio_Vig_Aseg),count(Nro_Propuesta) propuesta,count(distinct Nro_Propuesta) propuestasDistintas 
from [dbo].[Etl_Carga_Informe_Producción]
 where Numero_Endoso = 0
group by Fecha_Inicio_Vig_Aseg
order by 1 desc

*/



-------VALORES DE TABLA DESTINO
INSERT INTO  [sql].[Base_Seguros] (	Fecha,Llave,Compania,Numero_Poliza,Numero_Certificado,Numero_Endoso,Contratante
,Asegurado,Rut,Sexo,Fecha_Inicio_Vig_Aseg,Fecha_Fin_Vigencia_Aseg,Intermediario,Producto,Plan_opcion,Ramo,Canal_de_Venta
,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta,_Descuento_Asociado,Frecuencia_de_pago,Fecha_primer_Vencimiento
,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas,Dia_de_Pago,Estado_de_la_Poliza,Fecha_inicio_Vigencia,Fecha_fin_Vigencia
,Fecha_de_Fin_de_Contrato_Endoso_Cero,Motivo_Cancelacion,Fecha_Creacion,Vendedor_Rut,Sucursal,Codigo_Sucursal,Nro_Propuesta)
 

-- --declare @fechaActual date = getdate()
---- ---VALORES DE TABLA ORIGEN
 SELECT 
 Fecha_Carga,convert(varchar,Numero_Poliza)+convert(varchar,Numero_Certificado) AS Llave,Compania,Numero_Poliza
,Numero_Certificado,Numero_Endoso,Contratante,upper(Asegurado) AS Asegurado,Rut,Sexo,CONVERT(DATETIME,Fecha_Inicio_Vig_Aseg) as Fecha_Inicio_Vig_Aseg,CONVERT(DATETIME,Fecha_Fin_Vigencia_Aseg) as Fecha_Fin_Vigencia_Aseg
,Intermediario,Producto,Plan_opcion,Ramo,Canal_de_Venta,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta
,Descuento_Asociado,Frecuencia_de_pago,CONVERT(DATETIME,Fecha_primer_Vencimiento) as Fecha_primer_Vencimiento,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas
,Dia_de_Pago,Estado_de_la_Poliza,CONVERT(DATETIME,Fecha_inicio_Vigencia) as Fecha_inicio_Vigencia,CONVERT(DATETIME, Fecha_fin_Vigencia) as Fecha_fin_Vigencia
,CONVERT(DATETIME,Fecha_de_Fin_de_Contrato_Endoso_Cero) as Fecha_de_Fin_de_Contrato_Endoso_Cero,isnull(Motivo_Cancelacion,'') as Motivo_Cancelacion,
CONVERT(DATETIME,Fecha_Creación) as Fecha_Creación,Vendedor_Rut,Sucursal,Codigo_Sucursal,Nro_Propuesta
 FROM [dbo].[Etl_Carga_Informe_Producción]
 where Numero_Endoso = 0


---- --------------------------------------------------------------------------
---- --------------------------------------------------------------------------
----/*Inserción en Base seguros ANULADOS (FINAL BASE)*/
------------------------------------------------------------------------------
------------------------------------------------------------------------------

delete from SQL.[Base_Seguros_Anulados] where fecha in (select distinct Fecha_Carga from [dbo].[Etl_Carga_Informe_Producción])


--select distinct Fecha_Inicio_Vig_Aseg ,count(*) from [sql].[Base_Seguros_Anulados]
--where fecha in (select distinct Fecha_Carga from [dbo].[Etl_Carga_Informe_Producción])

/*

SET DATEFORMAT dmy

select CONVERT(DATETIME,Fecha_Inicio_Vig_Aseg),count(Nro_Propuesta) propuesta,count(distinct Nro_Propuesta) propuestasDistintas 
from [dbo].[Etl_Carga_Informe_Producción]
 where Numero_Endoso <> 0
group by Fecha_Inicio_Vig_Aseg
order by 1 desc

*/

-----------VALORES DE TABLA DESTINO
INSERT INTO  [sql].[Base_Seguros_Anulados] (	Fecha,Llave,Compania,Numero_Poliza,Numero_Certificado,Numero_Endoso,Contratante
,Asegurado,Rut,Sexo,Fecha_Inicio_Vig_Aseg,Fecha_Fin_Vigencia_Aseg,Intermediario,Producto,Plan_opcion,Ramo,Canal_de_Venta
,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta,_Descuento_Asociado,Frecuencia_de_pago,Fecha_primer_Vencimiento
,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas,Dia_de_Pago,Estado_de_la_Poliza,Fecha_inicio_Vigencia,Fecha_fin_Vigencia
,Fecha_de_Fin_de_Contrato_Endoso_Cero,Motivo_Cancelacion,Fecha_Creacion,Vendedor_Rut,Sucursal,Codigo_Sucursal,Nro_Propuesta)

----declare @fechaActual date = getdate()
---- ---VALORES DE TABLA ORIGEN
 SELECT 
 Fecha_Carga,convert(varchar,Numero_Poliza)+convert(varchar,Numero_Certificado) AS Llave,Compania,Numero_Poliza
,Numero_Certificado,Numero_Endoso,Contratante,upper(Asegurado) AS Asegurado,Rut,Sexo,CONVERT(DATETIME,Fecha_Inicio_Vig_Aseg) as Fecha_Inicio_Vig_Aseg,CONVERT(DATETIME,Fecha_Fin_Vigencia_Aseg) as Fecha_Fin_Vigencia_Aseg
,Intermediario,Producto,Plan_opcion,Ramo,Canal_de_Venta,Moneda,Prima_Afecta,Prima_Exenta,Impuesto,Prima_Bruta
,Descuento_Asociado,Frecuencia_de_pago,CONVERT(DATETIME,Fecha_primer_Vencimiento) as Fecha_primer_Vencimiento,Forma_de_pago,Medio_de_pago,Numero_de_Cuotas
,Dia_de_Pago,Estado_de_la_Poliza,CONVERT(DATETIME,Fecha_inicio_Vigencia) as Fecha_inicio_Vigencia,CONVERT(DATETIME, Fecha_fin_Vigencia) as Fecha_fin_Vigencia
,CONVERT(DATETIME,Fecha_de_Fin_de_Contrato_Endoso_Cero) as Fecha_de_Fin_de_Contrato_Endoso_Cero,isnull(Motivo_Cancelacion,'') as Motivo_Cancelacion,
 CONVERT(DATETIME,Fecha_Creación) as Fecha_Creación,Vendedor_Rut,Sucursal,Codigo_Sucursal,Nro_Propuesta
 FROM [dbo].[Etl_Carga_Informe_Producción]
 where Numero_Endoso <> 0


 END







