USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_Actualiza_Detalle_SETH]    Script Date: 16-04-2026 15:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- 
----

--exec [dbo].[Etl_Actualiza_Detalle_SETH]

ALTER PROCEDURE [dbo].[Etl_Actualiza_Detalle_SETH]
AS BEGIN


TRUNCATE TABLE [dbo].[SETH_Detalle_Venta_Mes_Actual]

INSERT INTO [dbo].[SETH_Detalle_Venta_Mes_Actual]
SELECT [Fecha]
      ,[Estado_Tarjeta]
      ,[Rut_Ejecutivo]
      ,[Sucursal]
      ,[Programa]
      ,[Clasificador]
      ,[Colaborador]
      ,[Estado_Cuenta]
      ,[Masivo]
      ,[Impresion]
      ,[Cod_Tarjeta]
      ,[Canal]
      ,[Ejecutivo_Act_Tarjeta]
      ,[Firma_Cliente]
      ,[Direccion]
      ,[Telefono_Fijo]
      ,[Telefono_Celular]
      ,[Email]
      ,[Ejecutivo_entrega_tarjeta]
      ,[Tipo_emision]
      ,[RUT]
      ,[Codigo_cliente]
      ,[Segmento]
      ,[Fecha_activacion]
      ,[Fecha_ult_carga_BD]
      ,ROW_NUMBER() OVER( PARTITION BY [RUT],[Tipo_emision],FORMAT(fecha_activacion,'MMyyyy') ORDER BY fecha_activacion DESC ) as duplicado
      ,NULL[Canal_Dotacion]
      ,NULL[Afiliado]
      ,FORMAT(fecha_activacion,'MMyyyy') Periodo_activacion
      ,cast (GETDATE() as date) as [Fecha_Carga_Archivo]
	  ,NULL Segmento_Afili
	  ,NULL Canal_Final
	  ,NULL [fecha_mes_anterior]
	  ,NULL [fecha_mes_posterior]
	  ,NULL [fecha_venta]
	  ,0 [cuenta_asociada_a_credito]
	  ,NULL [venta_neta]
	  ,NULL [numero_credito]
	  ,NULL [numero_sucursal_Orig]
 FROM [dbo].[SETH_Venta_Diaria]
 WHERE fecha_activacion >=
--DATEADD(mm,DATEDIFF(mm,0,(SELECT MAX(fecha_activacion) FROM [dbo].[SETH_Venta_Diaria])),0)
DATEADD(mm,DATEDIFF(mm,0,(SELECT MAX(fecha_activacion) FROM [dbo].SETH_Venta_Diaria_Mensual)),0)
 
 order by 1 desc





--------------------------------Actualiza Canal --------------------------------------------------------

UPDATE V
SET V.[Canal_Dotacion]=D.D_DIVISION
FROM [dbo].[SETH_Detalle_Venta_Mes_Actual] V
LEFT JOIN sql.Dotacion D on left(V.[Rut_Ejecutivo],len(V.[Rut_Ejecutivo])-1)=left(D.CODIGO,len(D.CODIGO)-2)
and V.Periodo_activacion=FORMAT(D.FECHA,'MMyyyy')



UPDATE V
SET V.[Canal_Dotacion]='Gerencia Empresas y Trabajadores'
FROM [dbo].[SETH_Detalle_Venta_Mes_Actual] V
INNER JOIN sql.Dotacion D on left(V.[Rut_Ejecutivo],len(V.[Rut_Ejecutivo])-1)=left(D.CODIGO,len(D.CODIGO)-2)
and V.Periodo_activacion>=FORMAT(D.FECHA,'MMyyyy')
and D.cencos=118000
and V.Periodo_activacion>='2026-03-01'
and V.Periodo_activacion=D.FECHA

update A
set A.fecha_mes_anterior=b.fecha_mes_anterior
from  [dbo].[SETH_Detalle_Venta_Mes_Actual] A
left join (select año_mes, fec as fecha_mes_anterior, ROW_NUMBER() OVER(PARTITION BY año_mes ORDER BY [Dia_Habil] DESC) AS RN 
from [dbo].[SETH_Calendario]) B
on CONVERT(BIGINT,SUBSTRING(CONVERT(VARCHAR,DATEADD(MM,-1,A.fecha_activacion),112),1,6))=B.AÑO_MES
where B.rn = 5

----- OK fecha mes posterior
update A
set A.[fecha_mes_posterior]=b.Fec
from  [dbo].[SETH_Detalle_Venta_Mes_Actual] A
left join [dbo].[SETH_Calendario] B
on CONVERT(BIGINT,SUBSTRING(CONVERT(VARCHAR,DATEADD(MM,+1,A.fecha_activacion),112),1,6))=B.AÑO_MES
and b.[Dia_Habil] = 5



----------------------------------------------Actualiza Segmentos------------------------------------------------------------
---- si teien 2 afiliaciones dejar el degmento de la afiliacion mas nueva 
-- rut ejemplo --81532648 yo trabajadaro el pensionado 

IF OBJECT_ID('tempdb..#Afili') IS NULL BEGIN print '' END ELSE BEGIN drop table #Afili END

select *, ROW_NUMBER() OVER(PARTITION BY fecha, [Id afiliado] ORDER BY  TIPO ASC) AS RN -- Cambiar el orden para dar prioridad a pensionado
into #Afili
from sql.Afili1
where fecha=(select max(fecha) from sql.Afili1)


-- select top 10 * from sql.Afili1

UPDATE V
SET V.[Afiliado]= case when A.Tipo = 'P' then 'Afiliado'
                       when A.Tipo = 'T' then 'Afiliado' else 'No Afiliado' End,
	V.Segmento_Afili=A.Tipo
FROM [dbo].[SETH_Detalle_Venta_Mes_Actual] V
left join #Afili A on (left(V.[Rut],len(V.[Rut])-1)*1)=left(A.[Id afiliado],len(A.[Id afiliado])-2)
and A.RN=1-- ultima afiliación

---------------------------------------------Actualizar Canal Final ---------------------------------------------------------

UPDATE [dbo].[SETH_Detalle_Venta_Mes_Actual]
--SET Canal_Final= case when Canal_Dotacion ='Gerencia Empresas y Trabajadores' then 'EETT'
--SET Canal_Final= case when Canal_Dotacion ='Gerencia Divisional de Empresas y Trabajadores' then 'EETT' 
--                       else 'Sucursal' 
SET Canal_Final= case when Canal_Dotacion in ('Gerencia Divisional de Empresas y Trabajadores','Gerencia Empresas y Trabajadores') then 'EETT' 
				else 'Sucursal' 
end

--------------------------------------------------------------------------------------------------------------------------------
---------------------------------------Asignar Canal Tarjetas virtuales-------------------------------------------------------

IF OBJECT_ID('tempdb..#Venta') IS NULL BEGIN print '' END ELSE BEGIN drop table #Venta END

select * 
into #Venta
from (
	select cuenta as rut, fecha_contable, numero_credito, instancia, venta_neta, tipo_credito COLLATE SQL_Latin1_General_CP1_CI_AS as tipo_credito, estado COLLATE SQL_Latin1_General_CP1_CI_AS as estado, segmento, numero_sucursal_Orig, vendedor COLLATE SQL_Latin1_General_CP1_CI_AS as vendedor from opcreditosa
	union all
	select cuenta as rut, fecha_contable, numero_credito, instancia, venta_neta, tipo_credito COLLATE SQL_Latin1_General_CP1_CI_AS as tipo_credito, estado COLLATE SQL_Latin1_General_CP1_CI_AS as estado, segmento, numero_sucursal_Orig, vendedor COLLATE SQL_Latin1_General_CP1_CI_AS as vendedor from opcreditos) a
where year(fecha_contable) in ('2024','2025','2026')
and tipo_credito not in ('Credito + salud Farmacia')
and segmento in ('30')
and estado not in ('PREPAGADO','ANULADO')
and numero_sucursal_orig <> 82

-- select top 20 * from #Venta

update A
set A.fecha_venta=cast (V.fecha_contable as date),
	A.venta_neta=V.venta_neta,
	A.numero_credito=V.numero_credito,
	A.numero_sucursal_Orig=V.numero_sucursal_Orig
from [dbo].[SETH_Detalle_Venta_Mes_Actual] A
left join #Venta V
on (left(A.[Rut],len(A.[Rut])-1)*1) = (V.rut*1)
and cast(V.fecha_contable as date)>= cast(fecha_mes_anterior as date)
and cast(V.fecha_contable as date)<= cast(fecha_mes_posterior as date)

update [dbo].[SETH_Detalle_Venta_Mes_Actual]
set cuenta_asociada_a_credito=1
where fecha_venta is not null

update [dbo].[SETH_Detalle_Venta_Mes_Actual]
set Canal_Final='EETT'
where cuenta_asociada_a_credito=1
and tipo_emision='Virtual'

update [dbo].[SETH_Detalle_Venta_Mes_Actual]
set Canal_Final='Beneficios y otros'
where cuenta_asociada_a_credito<>1
and tipo_emision='Virtual'



-------------------------------------------------------------------------------------------------------------------

------------------------------------Insertar nuevos registro en tabla Venta MEnsual-------------------------------------

-- Elimina registros de la tabla mensual si exiten
delete from [ESTUDIOSCOMERCIALES].dbo.[SETH_Venta_Diaria_Mensual] where Periodo_Activacion=(select distinct Periodo_Activacion from [dbo].[SETH_Detalle_Venta_Mes_Actual])

-- Insertar registros en la tabla mensual 
insert into  [ESTUDIOSCOMERCIALES].dbo.[SETH_Venta_Diaria_Mensual]
select * from [dbo].[SETH_Detalle_Venta_Mes_Actual]


--------------------------------------------------------------------------------------------------------------------------

---- IDentificar ventas de EETT que no son trabajadores o afiliados
---- (hay que marcar manualmente el segmento como trabajador si tiene un credito omo trabajador)

declare @fechaActivación varchar(6) = 
										(select 
										case  format (getdate()-12,'dd') 
											when '01' then format (getdate()-1,'yyyyMM') 
											else format (getdate(),'yyyyMM')
										end )



update [ESTUDIOSCOMERCIALES].dbo.[SETH_Venta_Diaria_Mensual]
set Segmento_Afili='T' ,  [Afiliado] ='Afiliado', Segmento = 'TRABAJADOR'
where tipo_emision='Virtual'
and Segmento_Afili = 'P'
and Periodo_Activacion=@fechaActivación

update [ESTUDIOSCOMERCIALES].dbo.[SETH_Venta_Diaria_Mensual]
set Segmento_Afili='T' ,  [Afiliado] ='Afiliado'
where tipo_emision='Virtual'
and Segmento_Afili is null
and Periodo_Activacion=@fechaActivación


-----------------------------------------------Tabla resumen Power BI-----------------------------------------------------

delete [dbo].[SETH_ResCuentaTarjeta] where fecha in (select distinct cast ((concat(year(fecha_activacion),'-',month(fecha_activacion),'-01'))as date) from dbo.[SETH_Venta_Diaria_Mensual])


insert into [dbo].[SETH_ResCuentaTarjeta] 
select cast ((concat(year(fecha_activacion),'-',month(fecha_activacion),'-01'))as date) as Fecha,
	   Case when Tipo_emision='Virtual' then 'Venta Prepago Virtuales'
			when Tipo_emision='Fisica' then 'Venta Prepago Fisica' end as [Tipo_Producto],
	   [Afiliado] as Segmento,
	   Canal_Final as colaborador_area,
	   count(RUT) as total,
	   Case when Segmento_Afili is null then '' else Segmento_Afili end as Segmento_Afili
from dbo.[SETH_Venta_Diaria_Mensual]
where duplicado=1 and fecha_activacion <convert(varchar, getdate(), 111) --- agregado nuevo
and Programa in ('Prepago Los Heroes','Prepago Los Heroes Virtual')
group by  cast ((concat(year(fecha_activacion),'-',month(fecha_activacion),'-01'))as date),
	   Case when Tipo_emision='Virtual' then 'Venta Prepago Virtuales'
			when Tipo_emision='Fisica' then 'Venta Prepago Fisica' end,
	   [Afiliado],
	   Case when Segmento_Afili is null then '' else Segmento_Afili end,
	   Canal_Final 


-------------------------------------------------------FIN---------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------



END