USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_CumplimientoFiliT]    Script Date: 16-04-2026 15:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---MIBARRA
---17-03-2026

--exec [dbo].[Etl_CumplimientoFiliT]


ALTER PROCEDURE [dbo].[Etl_CumplimientoFiliT]
AS BEGIN

declare @fechaDesde date = (select format(getdate(),'yyyy-MM-')+'01')
declare @fechaHasta date = (select format(getdate()-1,'yyyy-MM-dd'))
declare @fechaFin date = (select format(eomonth(getdate()-1),'yyyy-MM-dd'))

--select @fechaDesde,@fechaHasta

--drop table #temporal2,#temporal3,#temporal4


----
/*GENERA PRIMERA TEMPORAL AFILIADOS A LA FECHA*/
----


 SELECT 
    br.fecha AS periodo, 
    FORMAT(CAST(respaldo AS DATETIME), 'yyyy-MM-dd 00:00:00') AS fecha, 
    SUM(N_TRAB_EXPED * 1) AS trabajadores
	into #temporal2
	FROM [ESTUDIOSCOMERCIALES].dbo.[Afilbruta__trab_idg]  br
	--inner join [dbo].[02 metas afiliacion bruta Trabajador_carga]  tr on convert(varchar,tr.periodo,112) = convert(varchar,br.fecha,112)
	WHERE br.FECHA >= @fechaDesde 
	--WHERE br.FECHA >= '2026-03-01' 
	  AND respaldo = (SELECT MAX(respaldo) FROM [ESTUDIOSCOMERCIALES].dbo.[Afilbruta__trab_idg]) 
	GROUP BY 
		br.fecha, 
		FORMAT(CAST(respaldo AS DATETIME), 'yyyy-MM-dd 00:00:00') 
	ORDER BY 1 desc;


----
/*GENERA SEGUNDA TEMPORAL DE PRESUPUESTOS AFILIADOS MENSUAL*/
----



 select format(tr.fecha,'yyyy-MM-dd') as fecha,ISNULL(tm2.trabajadores,0) AS realAfiliacion, ppto
 into #temporal3
 from  #temporal2 tm2 
 right join  [dbo].[02 metas afiliacion bruta Trabajador_carga] tr on tr.fecha = tm2.fecha
 --where tr.periodo ='2026-03-01 00:00:00.000' 
 where format(TR.periodo,'yyyy-MM-dd') = @fechaDesde




 ----
/*GENERA TERCERA TEMPORAL DE CÁLCULOS*/
----
 select 'Afiliacion Bruta' as indicador, 'T' as Segmento
 ,(select round((sum(realAfiliacion) * 100) / (sum(ppto)),1) 
from #temporal3) as CumplimientoMensual,
(select round((sum(realAfiliacion) * 100) / round((sum(ppto)),2),1,1)
from #temporal3
 --where fecha between '2026-03-01' and '2026-03-18') as CumplimientoDiario
 where fecha between @fechaDesde and  @fechaHasta ) as CumplimientoDiario

 into #temporal4

 
----
/*GENERA SEGUNDA TEMPORAL DE PRESUPUESTOS AFILIADOS MENSUAL*/
----

insert into dbo.CumplimientoAfiliación (indicador,Segmento,CumplimientoMensual,CumplimientoDiario)
SELECT indicador,Segmento,CumplimientoMensual,CumplimientoDiario
fROM #temporal4

--SELECT * FROM dbo.CumplimientoAfiliación
END


