USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_CumplimientoLH]    Script Date: 16-04-2026 15:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---MIBARRA
---26-11-2025 

--exec [dbo].[Etl_CumplimientoLH]


ALTER PROCEDURE [dbo].[Etl_CumplimientoLH]
AS BEGIN

declare @fechaDesde date = (select format(getdate(),'yyyy-MM-')+'01')
declare @fechaHasta date = (select format(getdate()-1,'yyyy-MM-dd'))

--select @fechaDesde,@fechaHasta

----
/*ELIMINA TABLA */
----


--drop table #temporal2,#temporal3,#temporal4

drop table if exists dbo.CumplimientoLH;

----
/*GENERA PRIMERA TEMPORAL*/
----

select indicador,Segmento , round(sum(valor),2) as '%'
into #temporal2
from  [SQL].[Etl_Carga_Indicadores_Ppto] C 
WHERE CONVERT(VARCHAR,FECHA,112) between convert(varchar,@fechaDesde,112) and convert(varchar,@fechaHasta,112)
group by indicador,Segmento 


---
/*AGREGAR COLUMNA MENSUAL*/
---
alter table #temporal2 add  VentaNeta float
alter table #temporal2 add  CumplimientoMensual float
alter table #temporal2 add  CumplimientoDiarioAcumulado float  
----
/*GENERA SEGUNDA TEMPORAL*/
----

--select sum(VentaNeta)/1000000 AS VentaNeta,
select replace(FORMAT(ROUND(SUM(VentaNeta) / 1000000.0, 0), 'N0'),',','') AS VentaNeta,
case when segmento= 30 then 'T'
     when segmento = 32 then 'P' end as Segmento
into #temporal3
from [SQL].[ReporteVentas]
where convert(varchar,fecha,112) = convert(varchar,@fechaDesde,112)
--and numero_sucursal <> 82
group by segmento

--select *
--from  [SQL].[Etl_Carga_Indicadores_Ppto] C 
--WHERE SUBSEGMENTO = 'PYME Empresas y Trabajadores'
--and convert(varchar,fecha,112) = convert(varchar,@fechaDesde,112)

--PYME Empresas y Trabajadores

----
/*ACTUALIZA FECHA VENTA NETA TEMPORAL2 PRINCIPAL*/
----

--select *,
update t2 set
VentaNeta = t3.VentaNeta
,CumplimientoMensual = round(((100*t3.VentaNEta)/[%]),2)
from #temporal2 t2 
inner join #temporal3 t3 on t2.segmento = t3.segmento

----
/*CUMPLIMIENTO MENSUAL TOTAL*/
----


----
/*CUMPLIMIENTO ACUMULADO DIARIO*/
----

select case when segmento= 30 then 'T'
        when segmento = 32 then 'P' end as Segmento
		,round(sum(ppto),2) AS CumplimientoDiarioAcumulado
into #Temporal4
from sql.VentasCreditoPpto
where convert(varchar,fecha,112) between convert(varchar,@fechaDesde,112) and convert(varchar,@fechaHasta,112)
group by Segmento

----
/*ACTUALIZA CUMPLIMIENTO DIARIO*/
----

--select *,
update t2 set
CumplimientoDiarioAcumulado = t4.CumplimientoDiarioAcumulado
from #temporal2 t2 
inner join #Temporal4 t4 on t2.segmento = t4.segmento


---
---

SELECT *
into dbo.CumplimientoLH
fROM #temporal2

END


 

