USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_Actualiza_Detalle_Body]    Script Date: 16-04-2026 15:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Etl_Actualiza_Detalle_Body]
AS BEGIN



----
/*EJECUTA CALCULOS DE CUMPLIMIENTO */
----
exec [dbo].[Etl_CumplimientoLH]
exec [dbo].[Etl_CumplimientoPREPAGO]
exec [dbo].[Etl_CumplimientoFiliP]
exec [dbo].[Etl_CumplimientoFiliT]

/*select mailBody,* from [dbo].[Etl_Mailito]*/

----
/*DECLARA VARIABLES */
----

declare @idMailito bigint = '1'

declare @FechaHabil date = (select [dbo].[retorno_fecha_habil_venta_seguro] (getdate()))
declare @diaHabil varchar(2) = (select dia_habil from [dbo].[SETH_Calendario2025] where date = @FechaHabil)
declare @CantidadDiaHabil varchar(2) = (select max(Dia_Habil) as MaximoDiaHabil from [dbo].[SETH_Calendario2025] where  mes = format(@FechaHabil,'MM') and Año= format(@FechaHabil,'yyyy') and Tipo_Dia = 'Día Hábil')
declare @FechaMes varchar (20)= (select replace(format (@FechaHabil,'dd xx MMMM','es-es'),'xx','de') as FechaMes)
declare @FechaMesAnio varchar (50)= (select replace(format (@FechaHabil,'dd xx MMMM xx yyyy','es-es'),'xx','de') as FechaMesAnio)




if @idMailito = 1 
	BEGIN

	-----
	/*****DECLARACIÓN VARIABLES*****/
	-----


	DECLARE @AcumuladoMensualLH float, @AcumuladoDiarioLH float, @AcumuladoMensualPREPAGO float, @AcumuladoDiarioPREPAGO float
		,@AcumuladoMensualFiliPensionado float, @AcumuladoDiarioFiliPensionado float, @AcumuladoMensualFiliTrabajador float, @AcumuladoDiarioFiliTrabajador float

	-----
	/*****CUMPLIMIENTO LH*****/
	-----

	SELECT 
        @AcumuladoMensualLH = ROUND((SUM(VentaNeta) * 100.0) / NULLIF(SUM([%]), 0), 1),
        @AcumuladoDiarioLH  = ROUND((SUM(VentaNeta) * 100.0) / NULLIF(SUM(CumplimientoDiarioAcumulado), 0), 1)
    FROM dbo.CumplimientoLH

	-----
	/*****CUMPLIMIENTO PREPAGO*****/
	-----

	SELECT 
        @AcumuladoMensualPREPAGO = ROUND((SUM(VentaMensual) * 100.0) / NULLIF(SUM(PptoMensual), 0), 1),
        @AcumuladoDiarioPREPAGO  = ROUND((SUM(VentaMensual) * 100.0) / NULLIF(SUM(PptoDiario), 0), 1)
    FROM dbo.CumplimientoPREPAGO

	-----
	/*****CUMPLIMIENTO FILI PENSIONADO*****/
	-----

		SELECT 
        @AcumuladoMensualFiliPensionado = CumplimientoMensual
        ,@AcumuladoDiarioFiliPensionado  = CumplimientoDiario
    FROM dbo.CumplimientoAfiliación
	where Segmento = 'P'

	-----
	/*****CUMPLIMIENTO FILI TRABAJADOR*****/
	-----

			SELECT 
        @AcumuladoMensualFiliTrabajador = CumplimientoMensual
        ,@AcumuladoDiarioFiliTrabajador  = CumplimientoDiario
    FROM dbo.CumplimientoAfiliación
	where Segmento = 'T'
	

	DECLARE @Body NVARCHAR(MAX) = CONCAT(
        'Estimados/as. <br><br>',-- CHAR(13), CHAR(13),
        'Junto con saludar, se actualiza reporte de Venta Diaria en la siguiente ruta: <br><br>',
        '<a href="https://losheroes.sharepoint.com/sites/pd/rc/Comits/Forms/AllItems.aspx"> https://losheroes.sharepoint.com/sites/pd/rc/Comits/Forms/AllItems.aspx</a> <br><br><br>'--, CHAR(13), CHAR(13),
        
		/*CUMPLIMIENTO LH*/
		,'Al día ', @FechaMes, ', alcanzamos un <b>', @AcumuladoMensualLH, '%</b> de cumplimiento con respecto a la meta total del mes, ',
        'luego de ', @diaHabil, ' de los ', @CantidadDiaHabil, ' días hábiles del mes y un  <b>', 
        @AcumuladoDiarioLH, '%</b> de cumplimiento diario según el siguiente detalle por mercado: <br> <br>', CHAR(13), CHAR(13),
		'[INSERTAR IMAGEN] <br> <br>', CHAR(13), CHAR(13),

		/*CUMPLIMIENTO PREPAGO*/
		'Respecto a Héroes prepago, alcanzamos un <b>', @AcumuladoMensualPREPAGO, '%</b> de cumplimiento mensual y un <b>',
        @AcumuladoDiarioPREPAGO, '%</b> de cumplimiento diario.', CHAR(13),
        '<br> <br>[INSERTAR IMAGEN] <br> <br><br>',


		/*CUMPLIMIENTO AFILIACION PENSIONADO*/
		'Respecto a las afiliaciones brutas de <b>pensionados</b>, alcanzamos un <b>', @AcumuladoMensualFiliPensionado, '%</b> de cumplimiento mensual y un <b>',
        @AcumuladoDiarioFiliPensionado, '%</b> de cumplimiento diario.', CHAR(13),
        '<br> <br>[INSERTAR IMAGEN] <br> <br><br>',


		/*CUMPLIMIENTO AFILIACION TRABAJADOR*/
		'Respecto a las afiliaciones brutas de <b>trabajador</b>, alcanzamos un <b>', @AcumuladoMensualFiliTrabajador, '%</b> de cumplimiento mensual y un <b>',
        @AcumuladoDiarioFiliTrabajador, '%</b> de cumplimiento diario.', CHAR(13),
        '<br> <br>[INSERTAR IMAGEN] <br> <br><br>',


		'Quedo atenta a sus comentarios.<br>
		Saludos'
    )

		DECLARE @Subject NVARCHAR(4000) = CONCAT('Venta Diaria Créditos, Héroes Prepago y Afiliación Bruta al  ', @FechaMesAnio);
	END	


	select @AcumuladoMensualFiliPensionado,@AcumuladoDiarioFiliPensionado,@AcumuladoMensualFiliTrabajador,@AcumuladoDiarioFiliTrabajador,@Body
	


/*SETEO VARIABLES BODY SEGÚN ID MAIL*/


	update [dbo].[Etl_Mailito]
	SET  mailBody = isnull(convert(varchar(2000),@Body),'')
		,mailSubject = isnull(convert(varchar(1000),@Subject),'')
	where idMailito = @idMailito

END


